@media screen and (max-width: 768px) {
  #addNoteBtn {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .notes-action-bar {
    height: 3.1rem;
  }
  #addNoteBtn {
    height: 3.1rem;
    width: 3.7rem;
  }
}

