.modal-container {
  z-index: 70;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
}

.modal {
  position: fixed;
  top: 40%;
  margin: auto;
  width: 17em;
  animation: 0.5s modal-popup;
}


@keyframes modal-popup-mobile {
  0% {
    top: 0;
  }
  100% {
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .modal-container {
    top: 20%;
  }
}