$secondary: rgba(145, 111, 153, 0.2);


.side-bar {
    display: flex;
    z-index: 200;
    background: linear-gradient(#9665fc, #3c2bb0);
}

.side-bar-item {
    color: white;
}


.user-menu {
    text-align: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2.8em;
    background-color: #FCFCFA;
    width: auto;
    height: auto;
    border: 1px solid rgba(165, 169, 177, 0.5);
    border-radius: 6px;
    box-shadow: rgba(165, 169, 177, 0.7) 0 0 20px 0;
}

.user-menu :not(:last-child) {
    border-bottom: 1px solid rgba(165, 169, 177, 0.5);
}

.user-menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.user-menu-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1.5em 0.5em 1.5em;
    margin: 0;
    width: fit-content;
    cursor: pointer;
}

.user-menu-entry:hover {
    background-color: $secondary;
}


@media screen and (max-width: 768px) {

    .side-bar {
        width: 100vw;
        height: 2.5em;
        background: linear-gradient(0.25turn, #864cff, #4636bb);
    }

    .user-menu-button {
        position: relative;
    }

    .user-menu {
        left: auto;
        bottom: auto;
        top: 2em;
        right: 1em;
    }

    .user-menu-button-container {
        margin-right: 0.7rem;
        margin-left: auto;
        padding-bottom: 0.3rem;
    }

    .logo-container {
        position: relative;
        top: 0;
        left: 0.5rem;
        padding-bottom: 0.3rem;
    }

}


@media screen and (min-width: 768px) {

    .side-bar {
        flex-direction: column;
        width: 2.5em;
        height: 100vh;
    }

    .user-menu {
        top: auto;
        right: auto;
        left: 0;
    }

    .user-menu-button-container {
        transform: rotateZ(-90deg);
        margin-top: auto;
        margin-bottom: 1.5rem;

    }

    .logo-container {
        transform: rotateZ(-90deg);
        position: relative;
        top: 4rem;
    }

}

.text-nowrap {
    white-space: nowrap;
}
