
.loginScreenContainer {
    font-family: 'SF UI Text', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}



/*.loginContainer {*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background-color: #CFDBD5;*/
/*    color: #242423;*/
/*    margin-top: auto;*/
/*    height: 96.5vh;*/
/*    width: 100vw;*/
/*}*/




.form #password {
    margin-bottom: 0;
}

//.formCheckbox {
//    width: 1em;
//    height: 1em;
//    margin: 0 0 0 2em;
//}







//.form {
//    display: flex;
//    flex-direction: column;
//}



@media  (max-width: 768px) {
    .SideBar {
        width: 100vw;
        height: 2em;
    }

}