$primary: #4636bb;
//
//$body-bg: #3c2bb0;

$theme-colors: (
        "primary": #23d924,
        "danger": #ff4136
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}